<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title><%=current_page.data.page_title || "Judy He" %></title>

  <% if current_page.data.description %>
  <meta name="description" content="<%=current_page.data.description %>">
  <% else %>
  <meta name="description" content="">
  <% end %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:url" content="https://judythewebdeveloper.com<%=current_page.url %>" />
  <meta property="og:site_name" content="Judythewebdeveloper"/>
  <meta property="og:type" content="website"/>

  <% if current_page.data.meta_title %>
  <meta property="og:title" content="<%=current_page.data.meta_title %>">
  <% elsif current_page.data.title %>
  <meta property="og:title" content="<%=current_page.data.title %>">
  <% else %>
  <meta property="og:title" content=""/>
  <% end %>

  <% if current_page.data.description %>
  <meta property="og:description" content="<%=current_page.data.description %>">
  <% else %>
  <meta property="og:description" content=""/>
  <% end %>

  <% if current_page.data.image %>
  <meta property="og:image" content="https://judythewebdeveloper.com<%=current_page.data.image %>">
  <% else %>
  <meta property="og:image" content="https://judythewebdeveloper.com<%=image_path " 2015-sanky-linkshare.jpg" %>" />
  <% end %>

  <%= favicon_tag "favicon.ico" %>
  <%= stylesheet_link_tag "all.bundle" %>
</head>

<body class="<%= page_classes %>">
  <header>
    <nav class="menu">
      <div class="menu-color">
        <div class="menu-container">
          <ul class="menu-options">
            <li><%= link_to 'About.', '/', :class => "links about active" %>
            <li><%= link_to 'Emails.', '/email.html', :class => "links email" %>
            <li><%= link_to 'Projects.', '/project.html', :class => "links projects" %>
            <li><%= link_to 'FUN.', '/fun.html', :class => "links fun" %>
            <li class="social-icons">
              <%= partial "partials/social-icons" %>
            </li>
          </ul>
          <%= partial(:'partials/contact-info', :locals => {:position => "menu-contact-info" }) %>
          <%= partial(:'partials/brief-me', :locals => {:position => "menu-brief" }) %>
        </div>
      </div>
    </nav>
    <a class="menu-burger-area">
      <i class="menu-burger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </i>
      <p class="menu-txt">
        <span>M</span>
        <span>E</span>
        <span>N</span>
        <span>U</span>
      </p>
    </a>
    <div class="desktop-social-icons">
      <%= partial "partials/social-icons" %>
    </div>
    <a href="/" class="logo"></a>
  </header>
  <main>
  <%= yield %>
  </main>
  <footer>
    <%= partial(:'partials/brief-me', :locals => {:position => "footer-brief" }) %>
    <%= partial(:'partials/contact-info', :locals => {:position => "footer-contact-info" }) %>
  </footer> 
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script> -->
  <%= javascript_include_tag "vendor/noframework.waypoints.min.js" %>
 <!--  <script src="../assets/javascript/vendor/noframework.waypoints.min.js"></script> -->
  <script src="../assets/javascript/vendor/inview.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
  <%= javascript_include_tag "all.bundle" %>
</body>
</html>
