<div id="modal_<%= id %>">
  <div class="backdrop"></div>
  <div class="modal-container">
   <!-- <span class="modal-close">&times;</span> -->
   <span class="modal-close" href="#">[x] <span class="underline">close</span></span>
    <% if id == '1' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/awf_logo.png",
        :secondary_img => "projects/Join-the-movement-to-save-Africa’s-wildlife.png",
        :description => "Landing page and donation form for the 2018 Save African Elepehants campaign",
        :tags => "responsive, swiper, donation form, two steps, Springboard, CMS, convert experiment",
        :url => "https://campaign.awf.org/support-african-elephants",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//campaign.awf.org/support-african-elephants",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2uXZ1GC"
      }) %>
    <% elsif id == '2' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/hfh_logo.png",
        :secondary_img => "projects/Be-their-miracle-maker.jpg",
        :description => "A Codigniter landing page for HFH's new ranch promotion",
        :tags => "responsive, swiper, fullPage flexbox, embeded video, animation, donation form",
        :url => "https://www.habitatforhorses.org/landing/raise_the_barn",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//www.habitatforhorses.org/landing/raise_the_barn",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2VGMZNm"
      }) %>
    <% elsif id == '3' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/hfh_logo.png",
        :secondary_img => "projects/BLM-Donate-Now.png",
        :description => "A Codigniter petition landing page accompanied with a donation form",
        :tags => "responsive, modal, two steps, framework, Codeigniter animation, ajax, ever-green template",
        :url => "https://www.habitatforhorses.org/support/petitions/2018-08-blm-petition",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//www.habitatforhorses.org/support/petitions/2018-08-blm-petition",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2GkhfbL"
      }) %>
    <% elsif id == '4' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/ldf_logo.svg",
        :secondary_img => "projects/Donate-to-NAACP-LDF.png",
        :description => "The SEM landing page for NAACP Legal Defense and Educational Fund",
        :tags => "responsive, fullPage, Swiper, animation, ever-green template",
        :url => "https://naacplegaldefensefund.org/campaigns/donate-naacp-ldf",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//naacplegaldefensefund.org/campaigns/donate-naacp-ldf",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2UO71IP"
      }) %>
    <% elsif id == '5' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/ldf_logo.svg",
        :secondary_img => "projects/LDF-sms-landing.png",
        :description => "The SMS landing page for NAACP Legal Defense and Educational Fund",
        :tags => "responsive, animation",
        :url => "https://naacplegaldefensefund.org/campaigns/sms/",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//naacplegaldefensefund.org/campaigns/sms/",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2GlRiaL"
      }) %>
    <% elsif id == '6' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/php_logo.png",
        :secondary_img => "projects/PHR-stay-informed-2.jpg",
        :description => "The SMS landing page for Physicians for Human Rights",
        :tags => "responsive, fullPage, Swiper, animation, ever-green template",
        :url => "https://secure.phr.org/stay-informed",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//secure.phr.org/stay-informed",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2uYrZpK"
      }) %>
    <% elsif id == '7' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/php_logo.png",
        :secondary_img => "projects/Donate-to-Physicians-for-Human-Rights-2.png",
        :description => "The SEM landing page for Physicians for Human Rights",
        :tags => "responsive, fullPage, Swiper, animation, ever-green template",
        :url => "https://secure.phr.org/secure/protect-human-rights",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//secure.phr.org/secure/protect-human-rights",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2ETZqPD"
      }) %>
    <% elsif id == '8' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/php_logo.png",
        :secondary_img => "projects/PHR-DM-Landing-2.png",
        :description => "The integrated ",
        :tags => "responsive, fullPage, Swiper, animation, ever-green template",
        :url => "https://secure.phr.org/secure/join-physician-membership",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//secure.phr.org/stay-informed",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2HTWAft"
      }) %>
    <% elsif id == '9' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "logo/dpa_logo.svg",
        :secondary_img => "projects/DPA-A-second-chance-2.jpg",
        :description => "The landing page for Drug Policy Alliance's Get A Second Change campaign",
        :tags => "responsive, fullPage, Swiper animation",
        :url => "http://www.drugpolicy.org/campaigns/second-chance/",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//secure.phr.org/stay-informed",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2EOvG6z"
      }) %>
    <% end %>
  </div>
</div>