<div class="modal-header">
  <%= image_tag logo %>
  <a href="<%= url %>" target="_blank"><h2 class="project-name"><%= project_name %></h2></a>
</div>
<div class="modal-body">
  <%=image_tag screenshot, :class => 'screenshot'%>
  <p class="modal-descitption"><%= description %></p>
  <div class="modal-info">
    <ul>
      <li>
        <%=image_tag 'calendar.svg', :class => 'modal-calendar'%>
        <p class="modal-date"><%= date %></p>
      </li>
      <li>
        <%=image_tag 'tag.svg', :class => 'modal-tag' %>
        <p class="modal-tags"><%= tags %></p>
      </li>
    </ul>
  </div>
</div>
<div class="modal-social-share">
  <ul>
    <li>
     <a href="<%= facebook_share %>" target="_blank">
      <p>Share</p>
      <%= image_tag 'social-icons/fb-share.svg' %>
      </a>
    </li>
    <li>
      <a href="<%= twitter_share %>" target="_blank">
      <p>Tweet</p>
      <%= image_tag 'social-icons/tw-share.svg' %>
      </a>
    </li>
  </ul>
</div>


