<div class="modal-header">
  <%= image_tag logo %>
</div>
<div class="modal-body">
  <a href="<%= url %>" target="_blank"><%=image_tag secondary_img, :class => 'secondary_img'%></a>
  <p class="modal-descitption"><%= description %></p>
  <div class="modal-info">
    <%=image_tag 'tag.svg', :class => 'modal-tag' %>
    <p class="modal-tags"><%= tags %></p>
  </div>
</div>
<div class="modal-social-share">
  <ul>
    <li>
     <a href="<%= facebook_share %>" target="_blank">
      <p>Share</p>
      <%= image_tag 'social-icons/fb-share.svg' %>
      </a>
    </li>
    <li>
      <a href="<%= twitter_share %>" target="_blank">
      <p>Tweet</p>
      <%= image_tag 'social-icons/tw-share.svg' %>
      </a>
    </li>
  </ul>
</div>


