<div id="modal_<%= id %>">
  <div class="backdrop"></div>
  <div class="modal-container">
    <span class="modal-close">&times;</span>
    <% if id == '1' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "projects/awf_logo.png",
        :project_name => "Support African Elephants",
        :screenshot => "screenshots/save-african-elephants.png",
        :description => "kaha aodfhoahf aoshfioasf weoihtowjr sdjflsk lsdjfl",
        :tags => "responsive  swiper  donation form  two steps  Springboard  CMS  convert experiment",
        :date => "February 09, 2018",
        :url => "https://campaign.awf.org/support-african-elephants",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//campaign.awf.org/support-african-elephants",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2uXZ1GC"
      }) %>
    <% elsif id == '2' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "projects/hfh_logo.png",
        :project_name => "Raise the Barn",
        :screenshot => "screenshots/raise-the-barn.png",
        :description => "kaha aodfhoahf aoshfioasf weoihtowjr sdjflsk lsdjfl",
        :tags => "responsive, swiper, fullPage, flexbox, embede video, animation, donation form",
        :date => "June 18, 2018",
        :url => "https://www.habitatforhorses.org/landing/raise_the_barn",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//www.habitatforhorses.org/landing/raise_the_barn",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2VGMZNm"
      }) %>
    <% elsif id == '3' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "projects/hfh_logo.png",
        :project_name => "2018 BLM Petition",
        :screenshot => "screenshots/2018-BLM.png",
        :description => "kaha aodfhoahf aoshfioasf weoihtowjr sdjflsk lsdjfl",
        :tags => "responsive, modal, two steps, framework, Codeigniter, animation, ajax, template",
        :date => "August 20, 2018",
        :url => "https://www.habitatforhorses.org/support/petitions/2018-08-blm-petition",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//www.habitatforhorses.org/support/petitions/2018-08-blm-petition",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2GkhfbL"
      }) %>
    <% elsif id == '4' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "projects/ldf_logo.svg",
        :project_name => "Donate Naacp LDF",
        :screenshot => "screenshots/sem-landing.png",
        :description => "kaha aodfhoahf aoshfioasf weoihtowjr sdjflsk lsdjfl",
        :tags => "responsive, fullPage, Swiper, animation, template",
        :date => "September 18, 2018",
        :url => "https://naacplegaldefensefund.org/campaigns/donate-naacp-ldf",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//naacplegaldefensefund.org/campaigns/donate-naacp-ldf",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2UO71IP"
      }) %>
    <% elsif id == '5' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "projects/ldf_logo.svg",
        :project_name => "Naacp LDF SMS",
        :screenshot => "screenshots/sms-landing.png",
        :description => "kaha aodfhoahf aoshfioasf weoihtowjr sdjflsk lsdjfl",
        :tags => "responsive, animation",
        :date => "October 26, 2018",
        :url => "https://naacplegaldefensefund.org/campaigns/sms/",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//naacplegaldefensefund.org/campaigns/sms/",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2GlRiaL"
      }) %>
    <% elsif id == '6' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "projects/php_logo.png",
        :project_name => "Stay Informed",
        :screenshot => "screenshots/stay-informed.png",
        :description => "kaha aodfhoahf aoshfioasf weoihtowjr sdjflsk lsdjfl",
        :tags => "responsive, fullPage, Swiper, animation, template",
        :date => "April 04, 2019",
        :url => "https://secure.phr.org/stay-informed",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//secure.phr.org/stay-informed",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2uYrZpK"
      }) %>
    <% elsif id == '7' %>
      <%= partial(:'partials/portfolio_content', :locals => {
        :logo => "projects/php_logo.png",
        :project_name => "Stay Informed",
        :screenshot => "screenshots/stay-informed.png",
        :description => "kaha aodfhoahf aoshfioasf weoihtowjr sdjflsk lsdjfl",
        :tags => "responsive, fullPage, Swiper, animation, template",
        :date => "May 04, 2019",
        :url => "https://secure.phr.org/stay-informed",
        :facebook_share => "https://www.facebook.com/sharer/sharer.php?u=https%3A//secure.phr.org/stay-informed",
        :twitter_share => "https://twitter.com/home?status=Check%20out%20this%20awesome%20page!%20https%3A//bit.ly/2uYrZpK"
      }) %>
    <% end %>
  </div>
</div>













