---
page_title: Email
---
<div class="top-padding padding"></div>
<div class="bottom-padding padding"></div>


<div class="jumbo-container">
  <div class="inner-container email-container">
    <div class="title-container email-page-title-container">
      <i class="waves">
      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="7" viewBox="0 0 73.94 14.19" class="sample">
        <polyline stroke="#333333" fill="#f3f3f5" stroke-width="5" points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
      </svg>
      </i>
      <h2 class="section-header">Em<br/>ails.</h2>
      <p class="section-copy">innovation for</p>
      <h3 class="section-subheader"><span class="white">Strong support of your</span> digital <br/>innovation for blah</h3>
    </div>
  </div> 
</div>
<div class="jumbo-container timeline-jumbo-container active">
  <ul class="timeline-container">
    <li>
      <i class="waves">
      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="7" viewBox="0 0 73.94 14.19" class="sample">
        <polyline stroke="#333333" fill="#f3f3f5" stroke-width="5" points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
      </svg>
      </i>
      <h3 class="section-subheader">Before<span class="dot">.</span></h3>
      <p class="sub">Design thinking</p>
      <p class="section-copy">We schedule kick-offs at the right time and workshops when needed to generate ideas and prepare for the next step. </p>
    </li>
    <li>
      <i class="waves">
      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="7" viewBox="0 0 73.94 14.19" class="sample">
        <polyline stroke="#333333" fill="#f3f3f5" stroke-width="5" points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
      </svg>
      </i>
      <h3 class="section-subheader">During<span class="dot">.</span></h3>
      <p class="sub">Agility</p>
      <p class="section-copy">We can work fast or take our time to include you into the whole process. </p>
    </li>
    <li>
      <i class="waves">
      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="7" viewBox="0 0 73.94 14.19" class="sample">
        <polyline stroke="#333333" fill="#f3f3f5" stroke-width="5" points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
      </svg>
      </i>
      <h3 class="section-subheader">After<span class="dot">.</span></h3>
      <p class="sub">Still here</p>
      <p class="section-copy">Just because our work is done, it doesn't mean we're done with you. We're always available to suggest new ideas and help you develop yours as the months and years go by. </p>
    </li>
  </ul>
  <div class="blocks">
    <%= image_tag 'block-top.svg', :class => 'block top-block' %>
    <%= image_tag 'block-bottom.svg', :class => 'block bottom-block' %>
  </div>
</div>
<div class="swiper-jumbo-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% data.emails.each do |email| %> 
      <div class="swiper-slide <%= email.id %>">
        <img src="../../assets/images/emails/<%= email.image %>" />   
      </div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="jumbo-container featured-email">
  <div class="featured-email-jumbo-container">
    <svg height="128" viewBox="0 0 133 128" width="133" xmlns="http://www.w3.org/2000/svg" class="star"><g fill="#ff5851" transform="translate(0 -1)"><path class="star1" d="m51 102c-25.5 0-25.787 26.359-25.787 26.359 0-22.921-25.213-26.359-25.213-26.359 25.787 0 25.213-26.359 25.213-26.359 0 26.359 25.787 26.359 25.787 26.359z"/><path class="star2" d="m133 67c-12.5 0-12.641 12.921-12.641 12.921 0-11.236-12.359-12.921-12.359-12.921 12.641 0 12.359-12.921 12.359-12.921 0 12.921 12.641 12.921 12.641 12.921z"/><path class="star3" d="m93.413 39c-36.913 0-37.328 38.157-37.328 38.157 0-33.181-36.498-38.157-36.498-38.157 37.328 0 36.498-38.157 36.498-38.157 0 38.157 37.328 38.157 37.328 38.157z"/></g></svg>
    <h3 class="interactive-email-header">Interactive Email</h3>
    <div class="featured-email-container">
     <%= partial "partials/interactive-email" %>
    </div>
  </div>
</div>


