---
page_title: Lore Ipsum
---

<div class="top-padding padding"></div>
<div class="bottom-padding padding"></div>

<div class="jumbo-container">
  <div class="inner-container project-container">
    <div class="title-container project-page-title-container">
      <i class="waves">
      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="7" viewBox="0 0 73.94 14.19" class="sample">
        <polyline stroke="#333333" fill="#000000" stroke-width="5" points="2.83 2.83 11.36 11.36 19.9 2.83 28.43 11.36 36.97 2.83 45.5 11.36 54.04 2.83 62.58 11.36 71.11 2.83"></polyline>
      </svg>
      </i>
      <h2 class="section-header">Pro<br/>jects.</h2>
      <p class="section-copy">innovation for</p>
      <h3 class="section-subheader"><span class="white">Strong support of your</span> digital <br/>innovation for blah</h3>
    </div>
  </div> 
</div>
<div class="jumbo-container">
	<ul class="project-list">
		<% data.projects.each do |project| %> 
    <li class="each-project" style="background-image:url(../../assets/images/projects/<%= project.image %>)" >
    	<div class="overlay" style="background-color: <%= project.bgcolor %>"></div>
      <div class="description"> 
        <p><%= project.time %></p> 
        <h3><%= project.org %></h3> 
      </div> 
    </li> 
    <%= partial(:'partials/portfolio', :locals => {:id => project.id}) %>
    <% end %> 
  </ul>
 </ul>
</div>